body.dark-mode {
  background-color: #1f1e1e;
  color: #fff;

  .header__buttons,
  .header__darkmode-toggle,
  .header__hamburger-menu {
    color: #fff;
  }

  .header__menu-toggle span {
    background-color: #fff;
  }

  &__language {
    &:hover {
      color: rgba(255, 0, 0, 0.925);
    }
  }

  .section__image {
    border: solid rgb(255, 255, 255) 0.3rem;
  }

  .header {
    transition: background-color 0.3s ease;

    &__buttons {
      color: #ffffff;

      &::after {
        background-color: #ffffff;
      }
    }
  }

  .social-icon {
    color: #ffffff;
  }

  .copyright {
    color: #ffffff; // Adjust the color as needed
  }

  .skill-card {
    &__experience {
      color: #ffffffcc;
    }
  }

  .about h3 {
    color: #ffffff;
  }

  i{
    color: #ffffff;
  }

  .project__detail .project__detail__accordion button {
    border-bottom: 0.2rem rgb(255, 255, 255) solid;
    color: white;
}
}